<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/styles.css">
<title>About</title>
</head>
<body>
<p>This application is deployed on Heroku.</p>
<h1>The about page is not ready to be rendered.</h1>
</body>
</html>