<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/styles.css">
<title>About</title>
</head>
<body>
<div>
		forecast: 'Sunny',
		location: 'Bangalore'
</div>
</body>
</html>